.home {
   .differential {
      overflow: hidden;
      // height: 100vh;
      position: relative;
      z-index: 5;

      &__differentials {
         background-color: var(--color-secondary);
         border-radius: 20px;

         height: 80vh;
         max-height: 800px;

         width: 80%;

         overflow: hidden;

         position: relative;
         transform: translateX(13%);

         @include flex-container(column, flex-start, center);

         &__noise {
            position: absolute;

            object-fit: cover;

            mix-blend-mode: multiply;

            width: 100%;
         }

         &__options {
            @include flex-container(row, space-evenly, flex-start);
            position: relative;
            z-index: 1;

            // border: 1px solid blue;

            margin-top: 50px;

            &__option {
               color: var(--color-tertiary);

               width: 28%;

               &__title {
                  font-size: 2rem;

                  margin-bottom: 25px;
               }

               &__text {
                  font-family: 'aeonik light';
                  font-size: 1.4rem;
                  font-weight: 100;
                  letter-spacing: 2px;
                  word-spacing: 4px;
                  line-height: 22px;
                  text-align: left;
               }
            }
         }

         .secondary-button {
            &,
            &:link,
            &:visited {
               color: var(--color-tertiary);
            }

            position: absolute;
            bottom: 75px;

            &__arrow {
               &__body,
               &__head {
                  background-color: var(--color-tertiary);
               }
            }
         }
      }
   }
}