.differential--mobile {
   height: 50vh;
   min-height: 390px;
   max-height: 415px;

   position: relative;

   // @include flex-container(row, flex-start, center);

   display: none;

   @media only screen and (max-width: 1030px) {
      display: block;
   }

   overflow: hidden;

   &__slider {
      // border: 1px solid red;
      cursor: grab;

      height: 100%;
      width: 100%;

      @include flex-container(row, flex-start, center);

      max-width: 100%;
      overflow: scroll;

      position: relative;

      z-index: 1;

      &:hover {
         // border: 1px solid blue;
      }

      &::-webkit-scrollbar {
         display: none
      }
   }

   &__differential {
      @include flex-container(column, space-between, center);
      border-radius: 14px;
      height: 100%;

      width: 40%;
      // max-width: 450px;

      flex: none;

      background-color: var(--color-secondary);

      padding: calc(var(--horizontal-distance--mobile) * 2) var(--horizontal-distance--mobile);

      margin-right: 50px;

      overflow: hidden;
      position: relative;

      @include transition;

      .lines {
         transform: translateY(-25%);

         height: 150%;
      }

      &--1 {
         margin-left: 30%;
      }

      &--3 {
         margin-right: 30%;
      }

      color: white;

      @media only screen and (max-width: 670px) {
         width: 50%;

         &--1 {
            margin-left: 25%;
         }

         &--3 {
            margin-right: 25%;
         }
      }

      @media only screen and (max-width: 500px) {
         width: 68%;

         &--1 {
            margin-left: 16%;
         }

         &--3 {
            margin-right: 16%;
         }
      }

      &__text-box {
         position: relative;

         &__title {
            font-size: 3rem;

            margin-bottom: 25px;
         }

         &__text {
            color: #EBEBEB;
            font-family: 'aeonik light';
            font-size: 1.4rem;
            font-weight: 100;
            letter-spacing: 2px;
            word-spacing: 4px;
            line-height: 15px;
            text-align: left;
         }


      }

      &__button {
         &,
         &:link,
         &:visited {
            color: white;
         }

         &__arrow {
            &__head,
            &__body {
               background-color: white;
            }
         }
      }

      @media only screen and (max-width: 385px) {
         &__text-box {
            &__title {
               font-size: 2.8rem;

               margin-bottom: 15px;
            }

            &__text {
               color: #EBEBEB;
               font-family: 'aeonik light';
               font-size: 1.4rem;
               font-weight: 100;
               letter-spacing: 2px;
               word-spacing: 4px;
               line-height: 15px;
               text-align: left;
            }
         }

         &__button {
            &,
            &:link,
            &:visited {
               color: white;
            }

            &__text {
               font-size: 1.2rem;
               margin-right: 10px;
            }

            &__arrow {
               width: 30px;
            }
         }
      }
   }
}