.faq {
   position: relative;

   overflow: hidden;

   @include flex-container;

   padding-bottom: 200px;

   &__options {
      position: relative;
      z-index: 0;
      width: calc(100% - (var(--horizontal-distance) * 2));

      @include flex-container(column, flex-start, center);

      // margin-bottom: -300px;

      &__option {
         // height: 207px;

         // overflow: hidden;

         position: relative;

         width: 100%;

         // border: 1px solid red;

         @include transition;

         &:hover & {
            &__divisor {
               opacity: 1;
            }

            &__answer-box {
               opacity: 1;

               transition-delay: .25s
            }

            &__question-box__arrow-box {
               transform: rotate(-45deg);

               &--right {
                  left: -80px;

               }

               &--left {
                  left: 0px;
               }
            }
         }

         @include flex-container(column, flex-start, flex-start);

         &__line-box {
            width: 100%;
            // height: 1px;

            // overflow: visible;

            @include flex-container;

            &__number {
               font-size: 1.4rem;

               display: inline-block;

               width: 2%;
            }

            &__line {
               background-color: var(--color-secondary);

               height: 1px;
               width: 98%;
            }
         }

         &__question-box {
            // border: 1px solid blue;

            cursor: pointer;

            @include flex-container(row, space-between, center);

            width: 100%;

            position: relative;

            &__question {
               // border: 1px solid green;
               font-size: 9rem;

               text-transform: capitalize;

               span {
                  display: block;
               }
            }

            &__arrow-box {
               border: 1px solid var(--color-secondary);

               height: 19rem;
               width: 19rem;

               border-radius: 999px;

               @include flex-container;

               pointer-events: none;

               transform: rotate(45deg);
               position: relative;
               left: 0;

               @include transition;

               &--left {
                  left: 80px;
               }

               &__arrow {
                  height: 8rem;
                  width: 8rem;
               }
            }
         }

         &__divisor {
            background-color: var(--color-secondary);

            height: 1px;
            width: 100%;

            position: absolute;
            top: calc(190px + 14px);

            opacity: 0;

            &:last-of-type {
               opacity: 1;     
            }

            @include transition;
         }

         &__answer-box {
            margin: 35px;
            width: 100%;

            position: relative;

            opacity: 0;

            --transition-speed: .2s;
            @include transition;

            &__question {
               font-size: 1.6rem;
               text-transform: capitalize;

               margin-bottom: 15px;

               pointer-events: none;
            }

            &__answer {
               font-size: 1.4rem;
            }

            &__divisor {
               // background-color: var(--color-secondary);

               // position: absolute;
               // bottom: 0;

               height: 1px;
               width: 100%;
            }
         }
      }
   }
}