.hero-section--mobile {
   // border: 2px solid green;

   background-color: var(--color-tertiary);

   height: 100vh;
   min-height: 1010px;
   max-height: 930px;
   // height: 1200px;

   position: relative;
   z-index: 0;

   display: none;

   @media only screen and (max-width: 1030px) {
      display: block;
      @include flex-container(column, space-between, flex-start);
   }

   &__text-box {
      padding-top: 100px;
      padding-left: var(--horizontal-distance--mobile);
      position: relative;

      margin-bottom: 50px;
      &__title {
         font-size: 14rem;
         line-height: 100px;

         margin-bottom: 30px;

         max-width: 80%;
      }

      &__text {
         max-width: 80%;
      }
   }

   &__img {
      align-self: center;

      position: relative;
      z-index: 1;

      width: 70rem;

      // border: 1px solid blue;

      margin-bottom: 20px;
   }

   &__main-button {
      &,
      &:link,
      &:visited {
         // background-color: var(--color-primary);
         border-top: 2px solid var(--color-primary);
         border-bottom: 2px solid var(--color-primary);

         @include flex-container(row, space-around, center);

         height: 55px;
         min-height: 55px;
         width: calc(100% - var(--horizontal-distance--mobile) * 2);
         align-self: center;

         margin-bottom: 70px !important;


         position: relative;
         z-index: 2;

         text-decoration: none;

         &:hover {
            .hero-section--mobile__main-button__text {
               // font-weight: 1000;
               transform: skewX(-15deg);
               color: var(--color-tertiary);
               @include transition;
            }

            .hero-section--mobile__main-button__arrow {
               &__body, &__head {
                  background-color: var(--color-tertiary);
                  @include transition;
               }
            }
         }
      }

      @include transition;

      &:hover {
         background-color: var(--color-primary);
      }


      &__text {
         font-family: 'Aeonik Light';
         font-size: var(--commum-text-size);
         letter-spacing: 3px;
         color: var(--color-primary);
      }

      &__arrow {
         color: var(--color-primary);

         position: relative;

         @include flex-container(row, center, center);

         width: 70px;
         height: 20px;
         // border: 1px solid black;

         transition: .25s ease-in;


         &__body {
            // position: absolute;
            height: 1px;
            width: 70%;
            background-color: currentColor;

            // top: 50%;
            // transform: translateY(-50%);

         }

         &__head {
            height: 1px;
            width: 10px;
            border-radius: 999px;
            background-color: currentColor;

            position: relative;
            top: -4px;
            left: -9px;

            transform: rotate(45deg);
         }
      }
   }

   &__statistics {
      @include flex-container(row, space-between, center);

      // background-color: #fff;

      // margin-top: 100px;

      // height: 10px;
      align-self: center;
      width: 40%;

      padding-bottom: 60px;

      // position: relative;
      // right: -40px;

      &::before {
         content: "";

         // background-color: black;

         height: 20px;
         width: 2px;

         // margin-left: 50px;

         position: absolute;
         left: 50%;
         bottom: 100px;
         transform: translate(-250%, -25%);
      }

      &__statistic {
         @include flex-container(row, flex-start, center);

         font-family: 'Aeonik Regular';

         &:first-of-type {
            margin-right: 25px;
         }

         // &:last-of-type {
         //    margin-left: 25px;
         // }

         position: relative;
         left: -10px;

         &__percentage {
            // border: 1px solid red;

            font-size: 3.8rem;

            @include flex-container(row, flex-start, center);

            margin-right: 15px;
         }

         &__text {
            // border: 1px solid blue;

            font-size: 2rem;

            width: 50%;
         }
      }
   }

   @media only screen and (max-width: 955px) {
      & {
         &__statistics {
            width: 60%;
         }
      }
   }

   @media only screen and (max-width: 700px) {
      & {
         &__statistics {
            width: 70%;
         }
      }
   }

   @media only screen and (max-width: 775px) {
      & {
         &__img {
            width: calc(100% - var(--horizontal-distance--mobile) * 2 - 0px);
            width: 55rem;
         }
      }
   }

   @media only screen and (max-width: 558px) {
      & {
         &__text-box {
            &__title {
               font-size: 10rem;
               line-height: 75px;
               margin-bottom: 25px;
            }
         }
      }
   }

   @media only screen and (max-width: 550px) {
      & {
         height: 100vh;
         min-height: 850px;
         max-height: 860px;
         // min-height: unset;
         &__text-box {
            &__title {
               font-size: 10rem;
               line-height: 60px;
               margin-bottom: 25px;
               max-width: 80%;
            }

            &__text {
               max-width: 87%;
            }
         }

         &__img {
            width: calc(100% - var(--horizontal-distance--mobile) * 2 - 0px);
         }

         &__main-button {
            &,
            &:link,
            &:visited {
               height: 50px;
               min-height: 50px;
               width: calc(100% - var(--horizontal-distance--mobile) * 2);
            }
         }

         &__statistics {
            @include flex-container();

            width: 77%;

            position: relative;
            top: -20px;

            padding-bottom: 60px;

            &__statistic {
               &:first-of-type {
                  margin-right: 0;
               }

               position: relative;
               left: 0px;

               &__percentage {
                  // font-family: 'Aeonik Bold';
                  font-family: 'Aeonik Regular';
                  // font-weight: 600;

                  font-size: 3rem;
                  margin-right: 15px;
               }

               &__text {
                  font-size: 1.8rem;
                  width: 50%;
               }
            }

            @media only screen and (max-width: 370px) {
               & {
                  width: 80%;
                  &__statistic {
                     &__percentage {
                        font-size: 2.5rem;
                     }

                     &__text {
                        // border: 1px solid purple;
                        font-size: 1.6rem;
                        width: 50%;
                     }
                  }
               }
            }
         }
      }

      @media only screen and (max-width: 460px) {
         & {
            &__text-box {
               &__title {
                  font-size: 8rem;
                  line-height: 50px;
                  margin-bottom: 25px;
               }
            }
         }
      }

      @media only screen and (max-width: 360px) {
         & {
            &__text-box {
               &__title {
                  font-size: 6.8rem;
                  line-height: 45px;
                  margin-bottom: 25px;
               }
            }
         }
      }
   }
}