*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
   opacity: 0;

   transition: ease .5s;
}

html.active {
   opacity: 1;
}

body {
    box-sizing: border-box;
    color: var(--color-secondary);

}

   html {
      overflow-x: hidden;
      ::-webkit-scrollbar {
         background: transparent;

         width: 3px;
      }

      ::-webkit-scrollbar-thumb {
         background-color: red;
         border-radius: 999px;
      }

      ::-webkit-scrollbar-track {
         background-color: transparent;
      }
   }