// @font-face {
//     src: url("/src/medias/fonts/aeonik/Aeonik-Air.otf");
//     font-family: 'Aeonik Air'
// }

// @font-face {
//     src: url("/src/medias/fonts/aeonik/Aeonik-AirItalic.otf");
//     font-family: 'Aeonik AirItalic'
// }

// @font-face {
//     src: url("/src/medias/fonts/aeonik/Aeonik-BlackItalic.otf");
//     font-family: 'Aeonik BlackItalic'
// }

@font-face {
    src: url("/src/medias/fonts/aeonik/Aeonik-Bold.otf");
    font-family: 'Aeonik Bold'
}

@font-face {
    src: url("/src/medias/fonts/aeonik/Aeonik-Light.otf");
    font-family: 'Aeonik Light'
}

// @font-face {
//     src: url("/src/medias/fonts/aeonik/Aeonik-LightItalic.otf");
//     font-family: 'Aeonik LightItalic'
// }

// @font-face {
//     src: url("/src/medias/fonts/aeonik/Aeonik-Medium.otf");
//     font-family: 'Aeonik Medium'
// }

// @font-face {
//     src: url("/src/medias/fonts/aeonik/Aeonik-MediumItalic.otf");
//     font-family: 'Aeonik MediumItalic'
// }

@font-face {
    src: url("/src/medias/fonts/aeonik/Aeonik-Regular.otf");
    font-family: 'Aeonik Regular'
}

// @font-face {
//     src: url("/src/medias/fonts/aeonik/Aeonik-RegularItalic.otf");
//     font-family: 'Aeonik RegularItalic'
// }

// @font-face {
//     src: url("/src/medias/fonts/aeonik/Aeonik-Thin.otf");
//     font-family: 'Aeonik Thin'
// }

// @font-face {
//     src: url("/src/medias/fonts/aeonik/Aeonik-ThinItalic.otf");
//     font-family: 'Aeonik ThinItalic'
// }

// @font-face {
//     src: url("/src/medias/fonts/NewYork.otf");
//     font-family: 'new york'
// }