html {
    font-size: 62.5%; //1rem => 10px
    font-family: 'Aeonik Regular', 'Segoe UI', 'Arial', Verdana, sans-serif;

    letter-spacing: 2px;
}

p.commum {
    font-size: var(--commum-text-size);
    font-family: 'Aeonik Light';
    word-spacing: 5px;
    letter-spacing: 2px;
    line-height: 24px;
    font-weight: 100;
 }