html {
    font-size: 62.5%; //1rem => 10px
    font-family: 'Aeonik Regular', 'Segoe UI', 'Arial', Verdana, sans-serif;

    letter-spacing: 2px;

   @media only screen and (max-width: 1600px) {
      font-size: 50%; //1rem => 8px
   }

   @media only screen and (max-width: 550px) {
      font-size: 40%; //1rem => 6,4px
   }
}


p.commum {
    font-size: var(--commum-text-size);
    font-family: 'Aeonik Light';
    word-spacing: 5px;
    letter-spacing: 2px;
    line-height: 24px;
    font-weight: 100;
}