html {
   // colors
   --color-primary: #E12121;
   --color-secondary: #1A1A1B;
   --color-tertiary: #E4E4E4;

   // font-sizes

   // font-families

   // horizontal distances
   --horizontal-distance: 120px;
   --horizontal-distance--mobile: 25px;

   // sizes
   --min-width: 1660px;
   --max-width: 2100px;

   // transition
   --transition-speed: .5s;
   --transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

   // texts
   --commum-text-size: 1.6rem;

   //others
   --footer-distance: 30px;
}