html {
   // colors
   --color-primary: #E12121;
   --color-secondary: #1A1A1B;
   --color-tertiary: #E4E4E4;

   // font-sizes

   // font-families

   // horizontal distances
   --horizontal-distance: 100px;

   //transition
   --transition-speed: .5s;
   --transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}