.contact {
    position: relative;

    height: 100vh;
    
    max-height: 1000px;
    min-height: 1000px;

    // min-width: 1290px;
    max-width: var(--max-width);

    overflow: hidden;

    @include flex-container(column, flex-end, flex-start);

    &__content {
    margin-top: 100px;

        @include flex-container(row, flex-start, flex-start);
        //    border: 2px solid pink;
        position: relative;

        max-height: 900px;
        height: 100%;
        // min-height: 700px;
        min-height: 900px;


        width: 100%;
        
        // @media only screen and (max-height: 701px) {
        //     height: 50vh !important;
        // }

        &__image {
            object-fit: cover;
            image-rendering:  optimizeSpeed;
            width: 50%;
            height: 100%;
        }

        &__container {
            // border: 4px solid blue;

            height: 100%;
            width: 50%;

            // padding-left

            padding: 0 75px;

            padding-top: 50px;

            @include flex-container(row, center, flex-start);

            &__form-box {
                // border: 2px solid red;


                &__text-box {
                    margin-bottom: 100px;
                    &__title {
                        font-size: 4.5rem;
                        margin-bottom: 8px;
                        // text-transform: capitalize;
                        // line-height: 30px;
                    }

                    &__text {
                        
                    }
                }

                &__form {
                    @include flex-container(row, flex-start, center);
                    flex-wrap: wrap;

                    :nth-child(5) {
                        margin-right: 0;
                        margin-bottom: 60px;
                        // height: 250px;
                        width: 100%;

                        resize: none;

                        height: 50px;

                        @include transition;

                        &:focus {
                            height: 275px;
                        }
                    }

                    &__input {
                        outline: none;
                        border: none;
                        border-bottom: 2px solid var(--color-secondary);

                        background-color: transparent;

                        font-size: 3.5rem;

                        width: calc(50% - 20px);

                        margin-right: 20px;
                        margin-bottom: 60px;

                        &:nth-of-type(2),
                        &:nth-of-type(4) {
                            margin-right: 0;
                            width: 50%;
                        }

                        &::placeholder {
                            color: var(--color-secondary);
                            font-style: italic;
                            font-family: 'Aeonik Light';
                        }
                    }

                    .secondary-button {
                        &__text {
                            font-family: 'Aeonik Light';
                            font-weight: 400;
                            font-size: 2.4rem;

                            margin-right: 50px;
                        }

                        &__arrow {
                            width: 50px;
                            transform: translateY(2px);
                            &__body {
                                height: 1px;
                            }

                            &__head {
                                width: 1px;
                            }
                        }
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 1290px) {
        &__content {
            @include flex-container(column, flex-start, flex-start);
            flex-flow: column-reverse;
            position: relative;

            max-height: unset;
            height: 100vh;
            // min-height: unset;

            width: 100%;

            &__image {
                border-top-right-radius: 15px;
                height: 30%;
                width: 95%;

                margin-top: 50px;
            }
    
            &__container {
                // border: 3px solid rgb(195, 255, 0);
                width: 100%;
                height: 65%;
                padding: 0 25px;
                @include flex-container(row, flex-start, flex-start);

                &__form-box {
                    // border: 2px solid green;
                        // border: 2px solid green;
                        width: 100%;

                        height: 100%;

                        @include flex-container(column, space-between, flex-start);

                    &__text-box {
                        // border: 3px solid blue;
                        margin-bottom: 0;
                        &__title {
                        }
    
                        &__text {
                            
                        }
                    }
    
                    &__form {
                        // border: 5px solid lightblue;

                        height: 73%;
                        width: 100%;

                        // @include flex-container(column, space-between, flex-start);

                        :nth-child(5) {
                            margin: 0;

                            &:focus {
                                height: unset;
                            }
                            }
    
                        &__input {
                            &:not(:last-of-type) {
                                // margin-bottom: 25px;
                            }
                            margin-bottom: 0;
                            // width: 100% !important;
                            // margin-right: 0;

                            // flex: none;
                        }
    
                        .secondary-button {
                            &__text {
                            }
    
                            &__arrow {
                                &__body {
                                }
    
                                &__head {
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 670px) {

        min-height: unset;

        &__content {
            @include flex-container(column, flex-start, flex-start);
            flex-flow: column-reverse;

            max-height: unset;
            height: 100vh;
            min-height: unset;

            &__image {
                height: 30%;
                // margin-top: 50px;
            }
    
            &__container {
                height: 65%;
                padding: 0 25px;

                &__form-box {
                    height: 100%;
                    width: 100%;

                    @include flex-container(column, space-between, flex-start);

                    &__text-box {
                        margin-bottom: 0;

                        &__title {
                        }
    
                        &__text {
                        }
                    }
    
                    &__form {
                        :nth-child(5) {
                            height: 28px;

                            margin: 0;
                            margin-bottom: 0px;

                            @include transition;

                            &:focus {
                                height: 100px;
                            }
                        }
    
                        &__input {
                            width: 100% !important;
                            margin-right: 0;

                            font-size: 2.75rem;
                        }
    
                        .secondary-button {
                            &__text {
                            }
    
                            &__arrow {
                                &__body {
                                }
    
                                &__head {
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}