.services {
   // border: 2px solid blue;
   // height: 100vh;
   overflow: hidden;

   position: relative;

   min-width: 328px;

   &__content {
      // border: 2px solid red;

      @include flex-container(column, flex-start, center);

      position: relative;
      z-index: 1;

      margin: 100px var(--horizontal-distance) 75px var(--horizontal-distance);

      &__text-box {
         @include flex-container(column, flex-start, center);

         margin-bottom: 75px;

         max-width: 55%;

         &__title {
            font-size: 5rem;

            margin-bottom: 15px;
         }

         &__text {
         }
      }

      &__services {
         @include flex-container(row, space-between, center);
         flex-wrap: wrap;

         // display: none;

         height: 72vh;
         min-height: 600px;
         max-height: 800px;
      // border: 2px solid blue;

         // border: 2px solid pink;

         &--mobile {
            display: none;
         }

         &__service {
            border: 3px solid var(--color-secondary);

            cursor: pointer;

            padding: 10px;

            position: relative;

            height: calc(100% / 2 - 70px);
            width: calc(100% / 3 - 50px);

            @include flex-container(column, space-between, flex-start);

            &:hover &__button {
               .secondary-button__text {
                  // font-family: 'Aeonik Light';
                  transform: skewX(-15deg);
                  transition: transform .2s cubic-bezier(0.785, 0.135, 0.15, 0.86) !important;
               }
            }

            &__heading {
               &__title {
                  font-size: 4rem;
               }

               &__subtitle {
                  font-family: 'Aeonik Light';
                  font-size: 1.8rem;

                  margin-left: 15px;
               }
            }

            &__description {
               // border: 1px solid blue;
               align-self: center;

               font-family: 'Aeonik Light';
               font-size: 2rem;

               max-width: 60%;

               @media only screen and (max-height: 880px) {
                  max-width: 75%;
               }
            }

            &__img {
               border-radius: 99px;
               object-fit: cover;

               position: absolute;
               left: 0;
               top: 50%;
               transform: translate(-50%, -50%);

               height: 120px;
               width:  120px;

               @media only screen and (max-height: 980px) {
                  height: 100px;
                  width:  100px;
               }

               @media only screen and (max-height: 880px) {
                  height: 85px;
                  width:  85px;
               }
            }

            &__button {
               align-self: flex-end;
            }

         }

         &--mobile {
            &__service {
               // background-color: #c6f57b;

               height: 100px;
               width:  100%;

               &:not(:last-of-type) {
                  margin-bottom: 25px;
               }

               &__img {
                  width: 100%;
               }

               &__blur {

               }

               &__title {

               }

               &__button {

               }
            }
         }
      }
   }

   @media only screen and (max-width: 1380px) {
      &__content {
         &__services {
            height: 120vh;
            min-height: 900px;
            max-height: 990px;
            &__service {
               height: calc(100% / 3 - 70px);
               width:  calc(100% / 2 - 50px);
            }
         }
      }
   }

   @media only screen and (max-width: 1150px) {
      & {
         &__content {
            @include flex-container(column, flex-start, flex-start);

            // border: 2px solid blue;
            margin: 100px 0 0px 0;

            // width: 100%;

            // overflow: hidden;

            &__text-box {
               // @include flex-container(column, flex-start, flex-start);

               margin: 0 var(--horizontal-distance--mobile) 50px var(--horizontal-distance--mobile);

               max-width: 90%;

                  &__text {
               }
            }

            &__services {
               // display: none;
               @include flex-container(column, space-between, center);
               flex-wrap: wrap;

               // border: 1px solid pink;
               margin-bottom: 50px;
               align-self: center;

               width: 75%;
               height: 180vh;
               min-height: 1400px;
               max-height: 2000px;

               &__service {
                  width: 100%;
                  height: calc(100% / 6 - 25px);
               }
            }

            &__services--mobile {
               // border: 1px solid green;
               // @include flex-container(column, flex-start, center);
               width: 100%;

               &__services {
                  // border: 2px solid pink;

                  height: 175px;
                  width: 100%;

                  position: relative;

                  perspective: 500rem;
                  -moz-perspective: 500rem;

                  margin-bottom: 8px;

                  &__service {
                     @include flex-container(column, flex-end, flex-end);
                     // border: 2px solid red;
                     backface-visibility: hidden;



                     height: 100%;
                     margin-bottom: 200px;

                     position: relative;

                     z-index: 2;

                     transition: all .8s ease;

                     &:hover {
                        transform: rotateY(-180deg);
                     }

                     &:hover ~ .services__content__services--mobile__services__saiba-mais {
                        z-index: 5;
                        transform: rotateY(0deg);
                     }

                     &__img {
                        object-fit: cover;

                        height: 100%;
                        width:  100%;

                        position: absolute;
                     }

                     &__blur {
                        background-color: #00000028;

                        position: absolute;

                        // opacity: .3;
                        // filter: blur(3rem);

                        backdrop-filter: blur(2px);

                        height: 100%;
                        width:  100%;
                     }

                     &__title {
                        font-size: 6rem;
                        color: white;

                        font-family: 'Aeonik Thin';

                        position: absolute;
                        top: 50%;
                        left: 50%;

                        z-index: 2;

                        transform: skewX(-15deg) translate(-50%, -50%);
                     }

                     &__button {
                        // z-index: 10;
                        margin-right: 20px;
                        margin-bottom: 15px;
                        z-index: 2;

                        .secondary-button__text {
                           font-size: 1.6rem;
                           font-family: 'Aeonik Thin' !important;
                           color: #ffffff !important;

                           letter-spacing: 2px;
                        }

                        .secondary-button__arrow {
                           &__body,
                           &__head {
                              background-color: white;
                           }

                           &__body {
                              height: 1px;
                           }

                           &__head {
                              width: 1px;
                           }
                        }
                     }

                  }
                  &__saiba-mais {
                     @include flex-container(column, space-between, flex-start);
                     background-color: var(--color-secondary);

                     backface-visibility: hidden;


                     height: 100%;
                     width: 100%;

                     position: absolute;
                     top: 0;
                     z-index: 1;

                     color: white;

                     transform: rotateY(180deg);
                     perspective: 150rem;
                     -moz-perspective: 150rem;

                     padding: 10px 0px 0 20px;

                     transition: all .8s ease;


                     &:hover {
                        // transform: rotateY(0deg);
                     }

                     &__title {
                        font-size: 5rem;

                        pointer-events: none;
                     }

                     &__description {
                        font-size: 1.8rem;
                        line-height: 16px;

                        max-width: 50%;

                        pointer-events: none;

                        font-family: 'Aeonik Light';
                     }

                     &__close {
                        // border: 2px solid white;

                        height: 25px;
                        width:  25px;

                        cursor: pointer;

                        position: absolute;
                        top: 5%;
                        right: 3.5%;

                        // @include flex-container;

                        &__line {
                           height: 1px;
                           width: 100%;
                           background-color: white;

                           position: absolute;
                           top: 50%;
                           left: 0%;
                           // transform: translate(-0%, 50%);

                           &--1 {
                              transform: rotateZ(45deg);
                           }

                           &--2 {
                              transform: rotateZ(-45deg);
                           }
                        }
                     }

                     &__button {
                        // z-index: 10;
                        margin-right: 20px;
                        margin-bottom: 15px;
                        align-self: flex-end;
                        z-index: 2;

                        .secondary-button__text {
                           font-size: 1.6rem;
                           font-family: 'Aeonik Thin';
                           color: white;

                           letter-spacing: 2px;
                        }

                        .secondary-button__arrow {
                           &__body,
                           &__head {
                              background-color: white;
                           }

                           &__body {
                              height: 1px;
                           }

                           &__head {
                              width: 1px;
                           }
                        }
                     }
                  }
               }
            }
         }
      }
   }

   @media only screen and (max-width: 560px) {
      &__content {
         &__services {
            display: none;
            &--mobile {
               @include flex-container(column, flex-start, center);

               &__services {
                  &:last-child {
                     // margin-bottom: var(--footer-distance);
                  }
               }
            }
         }
      }
   }
}