@font-face {
    src: url("medias/fonts/aeonik/Aeonik-Regular.otf");
    font-family: 'Aeonik Regular'
}

@font-face {
    src: url("medias/fonts/aeonik/Aeonik-Bold.otf");
    font-family: 'Aeonik Bold'
}

@font-face {
    src: url("medias/fonts/aeonik/Aeonik-Light.otf");
    font-family: 'Aeonik Light'
}

@font-face {
    src: url("medias/fonts/aeonik/Aeonik-Thin.otf");
    font-family: 'Aeonik Thin'
}