/* @font-face {
   src: url("./assets/Aeonik-Regular.otf");
   font-family: 'Aeonik Regular'
}
@font-face {
   src: url("./assets/Aeonik-Bold.otf");
   font-family: 'Aeonik Bold'
}
@font-face {
   src: url("./assets/Aeonik-Light.otf");
   font-family: 'Aeonik Light'
}
@font-face {
   src: url("./assets/Aeonik-Thin.otf");
   font-family: 'Aeonik Thin'
} */