.lines {
   position: absolute;
   z-index: 0;

   height: 100%;
   width: 100vw;
   max-width: var(--max-width);

   transform: translateX(-4px);

   @include flex-container(row, space-between, center);

   &__line {
      &--secondary {
         --color-line: #393939;
      }

      &--tertiary {
         --color-line: #C2C2C2;
      }
      background-color: var(--color-line);

      height: 100%;
      width: 1px;

      &:first-of-type,
      &:last-of-type {
         opacity: 0;
         // background-color: red;
      }
   }
}