.noises {
   @include flex-container(column, flex-start, flex-start);

   width: 100%;
   max-width: var(--max-width);

   position: absolute;

   mix-blend-mode: multiply;

   z-index: 0;

   &__noise {
      width: 100%;

      object-fit: cover;

      mix-blend-mode: multiply;
   }
}