.space {
   border: 2px solid red;
   height: 30vh;
   max-height: 460px;
   min-height: 325px;

   width: 100%;
   max-width: var(--max-width);
   min-width: var(--min-width);

   // background-color: red;

   @include flex-container;

   overflow: hidden;

   position: relative;
   z-index: 5;

   @media only screen and (max-width: 550px) {
      &--2 {
         display: none
      }
   }

   // &__noise {
   //    // margin-left: calc(var(--horizontal-distance) * -1);
   //    // height: 100%;
   //    width: 100%;
   //    max-width: var(--max-width);
   //    // background-image: url('/src/medias/images/noise.jpg');

   //    mix-blend-mode: multiply;

   //    position: absolute;

   //    &::selection {
   //       background-color: transparent;
   //    }
   // }

   &__little-text {
      @include flex-container(column, flex-start, center);
      z-index: 2;

      &__line {
         height: 110px;
         width: 1px;

         background-color: #cecece;

         margin-bottom: 30px;
      }

      &__text {
         // font-size: 1.4rem;
         // font-weight: 600;
         // font-family: 'Aeonik Thin', Arial, Helvetica, sans-serif ;

         max-width: 80%;

         // line-height: 25px;
         // letter-spacing: 3px;

         text-align: center;
      }
   }
}