.toggle-menu {
   @include flex-container(column, space-between, flex-start);
   cursor: pointer;
   color: white;

   &__button {
      width: 50px;
      height: 50px;

      // border: 1px solid blue;

      cursor: pointer;

      overflow: visible;

      // border: 2px solid blue;

      @include flex-container(column, center, flex-end);

      &__line {
         background-color: var(--color-secondary);
         height: 2px;

         @include transition;

         &--1 {
            width: 100%;
            margin-bottom: 2px;
         }

         &--2 {
            width: 80%;
         }
      }

      &.active & {
         &__line {
            background-color: var(--color-primary);
            height: 1px;

            transform-origin: center;

            &--1 {
               width: 100%;
               transform: rotateZ(-45deg) translateY(2px);

               margin-bottom: 2px;
            }

            &--2 {
               width: 100%;
               transform: rotateZ(45deg) translateY(-3px);
            }
         }
      }
   }

   &__background {

      @media only screen and (min-width: 1030px) {
         display: none;
      }

      @include flex-container(column, space-between, flex-start);

      // padding-top: calc(50% + 100px);

      background-color: #00000060;
      backdrop-filter: blur(3px);

      height: 100%;
      width:  100%;

      // min-height: 785px;

      // min-height: 800px;

      position: fixed;
      left: 0;
      top: 0;
      z-index: -1;

      overflow: scroll;

      opacity: 0;

      min-width: var(--min-width);
      // min-width: 900px;

      transition: z-index .1s var(--transition-speed),
                  padding var(--transition-speed) cubic-bezier(0.165, 0.84, 0.44, 1),
                  opacity var(--transition-speed) cubic-bezier(0.165, 0.84, 0.44, 1);

         * {
            transition: inherit;
         }
   }

   &__fake-menu {
      width: 100%;
      height: 100px;
      min-height: 100px;

      // margin-bottom: 100px;

      // background-color: #fff;

      position: sticky;
      top: 0;
      z-index: 2;
   }

   &__list {
      opacity: 0;

      margin-bottom: 25px;

      @media only screen and (max-height: 750px) {
         margin-bottom: 35px;
      }
      // min-height: 800px;

      // transition: .2s ease .8s;

      &__item {
         &:not(:last-child) {
            margin-bottom: 30px;
         }

         &__link {
            &,
            &:link,
            &:visited {
               text-decoration: none;
               color: currentColor;

               font-family: 'Aeonik Thin';
               font-size: 9rem;

               @include transition;

               &:hover {
                  color: var(--color-primary);
               }

               @media only screen and (max-height: 750px) {
                  font-size: 7rem;
               }
            }
         }
      }
   }

   &__footer {
      @include flex-container(row, space-between, center);

      height: 100px;
      min-height: 100px;
      width: 100%;
      position: relative;

      &::before {
         content: "";
         position: absolute;
         top: 0;

         height: 1px;
         width: calc(100% + var(--horizontal-distance--mobile) * 2);
         transform: translateX(calc(var(--horizontal-distance--mobile) * -1));

         background-color: #ffffff93;
      }

      &__icons {
         // border: 1px solid purple;

         &__icon {
            &,
            &:link,
            &:visited {
               text-decoration: none;
               color: currentColor;

               &:not(:last-child) {
                  margin-right: 25px;
               }
            }

            &__media {
               fill: #ffffff93;
            }
         }
      }

      &__hp {
         color: #ffffff93;
         font-family: 'Aeonik Thin';
         font-size: 2.2rem;
      }
   }

   &.active & {
      &__background {
         opacity: 1;

         z-index: 5;

         padding: 0 var(--horizontal-distance--mobile);

         @include transition;
      }

      &__list {
         opacity: 1;
         // transition: .2s ease .8s;
      }
   }
}